{{#each programs as |program| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <img class="front-image" src="{{program.img}}" alt="{{program.name}}">
    <h2>
      <a class="hero-name" href="/program/{{program.id}}">{{program.name}}</a>
    </h2>
      </div>
  <div class="col-md-7">
    <p>
      {{program.description}}
    </p>
  </div>
</div>
{{/each}}