<section>
        <h2> Here are your workouts for today, {{user}}. Remember to practice safe sets,hydrate, and do your daily cardio!</h2>
        <h3>RPE stands for "Rate of Perceived Exertion". Meaning anything below 6 should feel like a warmup.</h3> 

{{#if workout.length}}
<div class="col-md-6 workout-list"> 
    <h3> Today's Workout: </h3>

    {{#each workout as |workout|}}
    <div class="col-mdb-2">
    <p>{{days}}</p>
    <p>{{name}}</p>
    <p>{{sets}}</p>
    <p>{{reps}}</p>
    <button class="btn btn-sm btn-danger" data-id="{{workout.id}}">FINISHED</button>
    </div>
    {{/each}}
{{/if}}
</div>

</section>
<script src="./js/profile.js"></script>

