<div class="text-center"> Here are your workouts for today, {{name}}. Remember to practice safe sets,hydrate, and do your daily cardio!</div>


    <h3> Today's Workout: </h3>

{{!-- workouts/workout are from homeroutes --}}
    {{#each workouts as |workout|}}  
    <div class="exercise">
     <ul>
    <p>{{workout.name}}</p>
    <p>{{workout.sets}}</p>
    <p>{{workout.reps}}</p>
    <p>{{workout.days}}</p>

    </ul> 
    </div>
    {{/each}}
</div>

</section>


