<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{username}}</p>
  <p>{{country}}</p>
  <p>{{city}}</p>
  <p>{{state}}</p>
  <p>{{address}}</p>
  <p>{{bio}}</p>
  <p>{{gender}}</p>
  <p>{{birthday}}</p>
  <p>{{height}}</p>
  <p>{{weight}}</p>

  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  
</div>
